@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h1>Hello, world!</h1>

    Welcome to your new app.
</div>


<table class="tablebla">
    <tr class="trOver">
        <td class="tdOver">
            <div style="text-align: right ">
                +
            </div>
            <div style="color:green">
                + 200
            </div>
            <div style="color:red">
                - 500
            </div>
            <div>
                Total: 9000
            </div>
        </td>
        <td class="tdOver">

        </td>
        <td class="tdOver">

        </td>
        <td class="tdOver">

        </td>
        <td class="tdOver">

        </td>
        <td class="tdOver">

        </td>
        <td class="tdOver">

        </td>
    </tr>
    <tr class="trOver">
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
    </tr>
    <tr class="trOver">
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
    </tr>
    <tr class="trOver">
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
    </tr>
    <tr class="trOver">
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
    </tr>
    <tr class="trOver">
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
        <td class="tdOver">
        </td>
    </tr>
</table>

<style type="text/css">

    .tablebla{
        border: 1px solid black;
        width: 80%;
        height: 800px;
    }

    .trOver{
        border: 1px solid black;
        height: 16.66666667%;
    }

    .tdOver {
        border: 1px solid black;
        width: 12.5%;
    }
</style>
